@media only screen and (max-width: 768px) {
    body{
        width: 100%;
    }

    .navbar{
        width: 100%;
        height: auto;
        padding: 0 3%;
    }

    .navbar-brand{
        margin: 0;
    }

    .banner{
        width: 100%;
    }

    .empresa-content{
        width: 100%;
        display: block;
        padding: 0;
    }

    .about{
        float: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #lema{
        height: 90%;
    }

    figure{
        height: auto;
    }

    #homeImage{
        width: 30%;
        height: 30%;
    }

    .portfolio-content{
        position: relative;
        top: 3em;
    }

    .atuacao-cards{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        width: 100%;
        margin: auto 0;
        padding: 5%;
    }

    .mapa div{
        display: flex;
        justify-content: center;
    }

    .mapa iframe{
        left: 0;
    }

    footer div:not(#facebook-midia){
        margin-top: 5%;
    }

    footer #btnInicio{
        right: 2%;
        transform: scale(0.8);
    }

    footer #midias-info{
        display: block;
        position: relative;
        top: 11%;
    }

    footer #midias-info #facebook-midia{
        display: flex;
        justify-content: center;
        margin-top: 10%;
    }
}

@media only screen and (max-width: 425px){
    body {
        width: 100%;
    }

    .atuacao-cards{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .atuacao-cards .card-content{
        position: relative;
        margin: 5% 15%;
        width: 70%;
        height: 30%;
    }

    .mapa div{
        display: flex;
        justify-content: center;
    }

    .mapa iframe{
        left: 0;
    }

    footer{
        font-size: 0.8em;
    }

    footer .endereco{
        width: 81%;
        word-wrap: break-word;
    }

    footer #midias-info{
        width: 100%;
        margin: 2% -20%;
    }
    
    footer #midias-info #facebook-midia{
        width: 100%;
        margin-top: 20%;
    }

    footer #midias-info h6{
        font-size: 0.9em;
    }

    footer div:not(#facebook-midia){
        margin-top: 5%;
    }

    footer #btnInicio{
        right: 2%;
        transform: scale(0.85);
    }

}